@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "swiper/css";
@import "swiper/css/pagination";

@layer base {
   * {
      font-family: "Ubuntu", sans-serif;
   }
}

@layer utilities {
   .button {
      @apply xl:px-3 py-[2px] px-2 rounded-md;
   }

   .gradient {
      @apply bg-gradient-to-br from-[#FC7C23] to-[#F366B9];
   }

   .polygon-clip {
      clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 75% 100%, 0% 100%);
   }

   .two-color {
      background: linear-gradient(#3dc7ef 50%, #bdbdbd 50%);
   }
}
