@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
   .button {
      @apply xl:px-3 py-[2px] px-2 rounded-md text-white;
   }

   .gradient {
      @apply bg-gradient-to-br from-[#FC7C23] to-[#F366B9];
   }

   /* 
   .line-animation {
   animation: name duration timing-function delay iteration-count direction fill-mode;
   position: absolute;
   animation: pulse 6s ease-in-out infinite;
   } */

   /* @keyframes pulse {
      0% {
         transform: translateY(0%);
         height: fit-content;
      }
      100% {
         transform: translateY(-100%);
         height: fit-content;
      }
   } */

   .polygon-clip {
      clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 75% 100%, 0% 100%);
   }

   .two-color {
      background: linear-gradient(#3dc7ef 50%, #bdbdbd 50%);
   }
}
